<!DOCTYPE html>
<html lang="en" style = "max-height: 100vh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}

    <title>Weather Searcher</title>
</head>

<body>

    {% extends 'base.html' %}

    {% block content %}

    <div id='container' class="text-center">
        <div class="titleContainer">
            <h1 class="pageTitles"> Search a Location!</h1>
        </div>

        <div class="pageTextContainer">
            <p> Submitting a location will give you the past, current, or future forecasted weather on that location.</p>
            <p><b> Enter a City or a ZipCode</b></p>

            <form method="POST" action="/weatherSearcher">
                {{ form.csrf_token }}
                {{ form.location.label }}
                {{ form.location(size=31) }}
                <br>
                <div style="visibility: {{visibility}}">
                    {{ form.date.label }}
                    {{ form.date(size=26) }} 
                </div>
                <br>
                <br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>     
        </div>
    </div>

    {% endblock %}
</body>

</html>