<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}

    <title>Type Searcher</title>
</head>

<body>
    <div class="bg-image" style="background-image: url({{ url_for('static', filename='img/weatherbg.jpg') }}); height: 100vh">
        <div id='containter' class="text-center">
            <h1> Choose a Type!</h1>
            <form method="POST">
                {{ form.forecastType.label }}
                {{ form.forecastType }} 
                <br>
                <br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>     
        </div>
    </div>
    <div class="text-center">
        <!-- <img  class="rounded w-50" src="{{ url_for('static', filename='images/spotify.jpg') }}"> -->
    </div>
</body>

</html>