<!DOCTYPE html>
<html lang="en" style = "max-height: 100vh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}

    <title>Type Searcher</title>
</head>

<body>

    {% extends 'base.html' %}

    {% block content %}

   <div class="titleContainer">
        <h1 class="pageTitles"> Please select a Type!</h1>
   </div>
           

   <div class="pageTextContainer">
        <p>Forecast: You can choose 5 days in advanced.</p>
        <p>History: Will show you yesterday's report.</p>
        <hr class="line">
        <form method="POST">
            {{ form.forecastType.label }}
            {{ form.forecastType }} 
            <br>
            <br>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>     
    </div>

    {% endblock %}

</body>

</html>